/* PC */
@media (min-width: 1024px) {
}

@media (max-width: 1023px) {
  #footer .footer-list {
    font-size: 48px;
  }

  #footer .footer-list a {
    margin: 0 16px;
  }
}
/* Tablet */
@media (min-width: 740px) and (max-width: 1023px) {
}
/* Mobile */
@media (max-width: 740px) {
  .s-full-width {
    width: 100%;
  }

  .s-btn {
    width: 100%;
    text-align: center;
  }

  #header {
    overflow: hidden;
  }
  #header .mobile-menu-btn {
    display: block;
  }
  #header .search-button {
    display: none;
  }

  #nav {
    display: block;
  }
  #nav > li {
    display: block;
  }
  #nav > li:nth-child(1) {
    display: inline-block;
  }
  #nav .subnav {
    position: initial;
    border-bottom-style: solid;
    border-bottom-width: thin;
    border-bottom-color: lightgray;
    background-color: #333;
  }
  #nav .subnav a {
    color: #fff;
    padding: 0 41px;
  }

  #content .member-item {
    margin-top: 30px;
    width: 100%;
  }

  #contact .contact-form {
    margin-top: 16px;
  }
}
